.subheadings {
    &--l {
        font-family: 'Bellefair';
        font-size: 28px;
    }

    &--s {
        font-family: 'BarlowCondensed';
        font-size: 14px;
        letter-spacing: 2px;
    }
}
